@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    background: linear-gradient(177deg,#005aa7,#3c1053, #4b134f);
    font-family:'Muli', sans-serif;
}
.jumbotron{
    height: 160px;
    background-color: transparent !important;
}

.d-flex{
    align-items: center;
    justify-content: center;
    height: 160px;
}
.container{
    height: 160px;
}
@media (min-width:425px){
.container-fluid{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.d-flex1{
    /* height:400px; */
   padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    line-height: 30px;
    border-radius: 30px;
    }}
#password{
    width: 300px;
    border-radius: 20px;
    border-color: none;
    height: 40px;
}
#login{
    width: 150px;
    border-radius: 25px;
    height: 40px;
    color: azure;
}
.fa-rocket{
    color: black;
}
#img{
    width: 130px;
    height: 130px;
}
.age p{
    font-size: larger;
}
#p2,#p3,#p1{
    color: red;
}
#num{
    width: 300px;
    border-radius: 20px;
    height:40px ;
}

/* @media (max-width: 425px){
    .soft{width: 50%;}
}
@media (min-width:426px) and (max-width: 768px){
    .sponch{width: 50%;}
}
@media (min-width: 769px) and (max-width: 1024px){
    .fluffy{width: 50%;}
}
@media (min-width: 1025px) and (max-width: 1440px){
    .medium{width: 100%;}
}@media (min-width: 1441px) and (max-width: 2560px){
    .medium{width: 100%;}
}
@media (max-height: 425px){
    .soft{height: 75%;}
}
@media (min-height:426px) and (max-height: 768px){
    .sponch{height: 75%;}
}
@media (min-height: 769px) and (max-height: 1024px){
    .fluffy{height: 75%;}
}
@media (min-height: 1025px) and (max-height: 1440px){
    .medium{height: 75%;}
}@media (min-height: 1441px) and (max-height: 2560px){
    .medium{height: 75%;}
} */


.shake_effect
{
 animation: shake 1s ;
}
@keyframes shake 
{
 10%, 90% 
 {
  transform: translate3d(-1px, 0, 0);
 }
  
 20%, 80% 
 {
  transform: translate3d(2px, 0, 0);
 }

 30%, 50%, 70% 
 {
  transform: translate3d(-4px, 0, 0);
 }

 40%, 60% 
 {
  transform: translate3d(4px, 0, 0);
 }
}
@import 'https://fonts.googleapis.com/css?family=Montserrat';
.sent-rocket {
	animation: rocket 2s cubic-bezier(.36,.07,.57,.99);
           }
@keyframes rocket {
	0% {
		transform: scale(1.5) translate(0, 0);
		opacity: 1;
	}
	5% {
		transform: scale(2) translate(2px, 0);
		opacity: 1;
	}
	10% {
		transform: scale(2) translate(1px, -2px);
		opacity: 1;
	}
	15% {
		transform: scale(2) translate(3px, -1px);
		opacity: 1;
	}
	20% {
		transform: scale(2) translate(2px, -3px);
		opacity: 1;
	}
	25% {
		transform: scale(2) translate(4px, -2px);
		opacity: 1;
	}
	50% {
		transform: scale(2) translate(10px, -10px);
		opacity: 0;
	}
	51% {
		transform: scale(2) translate(-10px, 10px);
		opacity: 0;
	}
	100% {
		transform: scale(2) translate(0, 0);
		opacity: 1;
	}}